body {
    font-family: Arial, Helvetica, sans-serif


}

h1 {
    font-size: 50pt;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    background-color: aquamarine;
    text-align: center;
    padding: 30px;


}
.destaque{

    font-size: 20px;
    text-align: end;

}

.pequeno{

    font-size: 20%;
    text-align: right;

}
